@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');



.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.mun-gradient {
    background: radial-gradient(75.20% 41.10% at 50.00% 58.90%, #E4C97C 0%, #E0B055 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mun-typography {
    font-family: Sk-Modernist;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
}

.background-gradient {
    /* background-image: linear-gradient(45deg,
            hsl(0deg 0% 0%) 0%,
            hsl(343deg 0% 6%) 11%,
            hsl(344deg 0% 10%) 22%,
            hsl(344deg 0% 14%) 33%,
            hsl(344deg 0% 18%) 44%,
            hsl(344deg 0% 22%) 56%,
            hsl(344deg 0% 27%) 67%,
            hsl(344deg 0% 31%) 78%,
            hsl(344deg 0% 36%) 89%,
            hsl(0deg 0% 40%) 100%); */

    z-index: 3;
    max-width: 100%;
    box-shadow: rgba(195, 182, 4, 0.1) 0px 180px 700px -20px,
        rgba(219, 170, 8, 0.1) 0px -180px 700px -20px,
        rgba(168, 130, 3, 0.1) 180px 0px 700px -20px,
        rgba(218, 173, 7, 0.1) -180px 0px 700px -20px;
}


.background-gradient1 {
    /* background-image: linear-gradient(45deg,
            hsl(0deg 0% 0%) 0%,
            hsl(343deg 0% 6%) 11%,
            hsl(344deg 0% 10%) 22%,
            hsl(344deg 0% 14%) 33%,
            hsl(344deg 0% 18%) 44%,
            hsl(344deg 0% 22%) 56%,
            hsl(344deg 0% 27%) 67%,
            hsl(344deg 0% 31%) 78%,
            hsl(344deg 0% 36%) 89%,
            hsl(0deg 0% 40%) 100%); */

    z-index: 3;
    max-width: 100%;
    box-shadow: rgba(158, 133, 58, 0.1) 0px 180px 700px -20px,
        rgba(214, 158, 158, 0.1) 0px -180px 700px -20px,
        rgba(175, 175, 97, 0.1) 180px 0px 700px -20px,
        rgba(236, 197, 98, 0.1) -180px 0px 700px -20px;
}


.committess {
    height: 1000px;
}





/* ------- */
.parallax {
    overflow: hidden;
    letter-spacing: -2px;
    line-height: 0.8;
    margin: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
}

.parallax .scroller {
    font-weight: 600;

    font-size: 5rem;
    font-family: 'Abril Fatface', cursive;

    display: flex;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    color: rgb(187, 144, 18);
}

.parallax span {
    display: block;
    margin-right: 30px;
}

code {
    font-family: input-mono, monospace;
    font-weight: 400;
    font-style: normal;
}

::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    background: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--accent);
    -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
    background: var(--background);
}
.outerBox {
    border-radius: 20px;
  

    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=f7ba48&c2=1d1d1d&gt=r&gd=dtt
*/
    background: #000000;
    /* background: radial-gradient(at center top, #2f2f2f, #1D1D1D); */
}
/* Alden message styles */

.SecGen {
    height: 100px;
}


/* FOOTER */
.footer {
    position: relative;
    margin-top: auto;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}