.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%,
            #def9fa 0.89%,
            #bef3f5 17.23%,
            #9dedf0 42.04%,
            #7de7eb 55.12%,
            #5ce1e6 71.54%,
            #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.mun-gradient {
    background: radial-gradient(75.20% 41.10% at 50.00% 58.90%, #E4C97C 0%, #E0B055 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.mun-typography {
    font-family: Sk-Modernist;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.7px;
}

.background-gradient {
    /* background-image: linear-gradient(45deg,
            hsl(0deg 0% 0%) 0%,
            hsl(343deg 0% 6%) 11%,
            hsl(344deg 0% 10%) 22%,
            hsl(344deg 0% 14%) 33%,
            hsl(344deg 0% 18%) 44%,
            hsl(344deg 0% 22%) 56%,
            hsl(344deg 0% 27%) 67%,
            hsl(344deg 0% 31%) 78%,
            hsl(344deg 0% 36%) 89%,
            hsl(0deg 0% 40%) 100%); */

    z-index: 3;
    max-width: 100%;
    box-shadow: rgba(195, 182, 4, 0.1) 0px 180px 700px -20px,
        rgba(219, 170, 8, 0.1) 0px -180px 700px -20px,
        rgba(168, 130, 3, 0.1) 180px 0px 700px -20px,
        rgba(218, 173, 7, 0.1) -180px 0px 700px -20px;
}




.committess {
    height: 1000px;
}

.committees-background {
    background-image: url("./media/Grid.svg");


    position: absolute;
    background-size: cover;
    width: 100%;
    background-color: transparent;
    height: 100%;
    background-position: center;
    z-index: 3;

}

.gradient-zero {
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=2a2a2a&c2=474747&gt=r&gd=dtl
*/
    background: #2A2A2A;
    background: radial-gradient(at left top, #2A2A2A, #474747);
    opacity: 0.7;
}

.gradient-zeroOne {
    /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=84848a&c2=252525&gt=r&gd=dcc
*/
    background: #84848A;
    background: radial-gradient(at center, #84848A, #252525);
}