.body {
    /* --accent: #8855ff; */
    width: 100vw;
    height: 100vh;

    overflow: hidden;

    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.window {

    height: auto;
    margin: auto;
    border-radius: 10px;
    background: black;
    color: white;
    backdrop-filter: blur(10px);
    overflow: hidden;
    /* box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
        0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
        0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
    display: flex; */
    display: flex;
    flex-direction: column;

}

.nav {
    background: black;

    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 1px solid black;
    height: 44px;
    padding: 20px;
}

.tabs {
    flex-grow: 1;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-wrap: nowrap;
    width: 100%;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    flex-grow: 1;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Poppins', sans-serif;

    font-weight: 400;

}

.scroll {}

.ul,
.li {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.ul {
    display: flex;
    width: 100%;
}

.shadow {
    box-shadow: 0 4px 6px rgba(183, 145, 9, 0.2);
    /* Golden shadow color */
    /* Add other styles as needed */
}

.li {
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
    padding: 10px 15px;
    position: relative;

    cursor: pointer;
    height: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 0;
    position: relative;
    user-select: none;
}

.underline {
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    height: 1px;
}

li.selected {}

.li button {
    width: 20px;
    height: 20px;
    border: 0;
    background: #fff;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    stroke: #000;
    margin-left: 10px;
    cursor: pointer;
    flex-shrink: 0;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background: #fff;
}

.add-item {
    width: 30px;
    height: 30px;
    background: #eee;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    align-self: center;
}

.add-item:disabled {
    opacity: 0.4;
    cursor: default;
    pointer-events: none;
}